@charset "utf-8";
/* CSS Document */
.principal {
	margin-top:150px;
}

.box-azul{
    /*definimos a largura do box*/
    width:100%;
    /* definimos a altura do box */
    height:200px;
    /* definimos a cor de fundo do box */
    background-color:#06F;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px;
	filter: alpha(opacity=65);
	margin-bottom: 50px;
	position: relative;
}
.box-verde{
    /*definimos a largura do box*/
    width:100%;
    /* definimos a altura do box */
    height:200px;
    /* definimos a cor de fundo do box */
    background-color:#0F0;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px;
	filter: alpha(opacity=65);
	margin-bottom: 50px;
	position: relative;
}
.box-amarelo{
    /*definimos a largura do box*/
    width:100%;
    /* definimos a altura do box */
    height:200px;
    /* definimos a cor de fundo do box */
    background-color:#FF0;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px;
	filter: alpha(opacity=65);
	margin-bottom: 50px;
	position: relative;
}
.box-vermelho{
    /*definimos a largura do box*/
    width:100%;
    /* definimos a altura do box */
    height:200px;
    /* definimos a cor de fundo do box */
    background-color:#F00;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px;
	filter: alpha(opacity=65);
	margin-bottom: 50px;
	position: relative;
}

.headtabela{
	font-weight:bold;
}

.headpedido{
	font-size:20px;
	font-weight:bold;
}

.headhistorico{
    font-size:10px;
    font-weight:bold;
}

.text-top{
    vertical-align: top;
}

.zero{
    padding: 0px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        border-top: 1px solid #ddd !important;
}

#table4{
    margin-bottom: 0px !important;
}

.form-bottom{
    position: absolute;
    bottom: 0px;
}
.nome-empresa{
    font-size: 35px;
}
.nome-pagina{
    font-size: 15px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

form{
    padding: 15px;
}

.form-group{
    padding-bottom: 10px;
}

.usuario{
    float: right;
}

@media (min-width: 1400px){
    .containerrelatorio{
        width: 1370px !important;
    }
}
@media (min-width: 1600px){
    .containerrelatorio{
        width: 1450px !important;
    }
}

.labelrangedate{
    padding: 0px;
    font-size: 10px;
}

.input-sm{
    height: 34px !important;
    padding: 0px;
    font-size: 8px;
}

.input-sm2{
    height: 34px !important;
    padding: 0px;
    font-size: 12px;
}

.labelcifrao{
    padding: 0px;
}

.inputvalortransacao{
    padding: 6px 0px;
    font-size: 11px;
}

.linha_relatorio{
    font-size: 12px;
}

.navegacao{
    margin-top: 5px;
    margin-bottom: 5px;
}

.direita{
    float: right;
}

.fixar {
    position:fixed;
    margin-top: 0px !important;
}

.modal-footer{
	margin-top: 50px;
}

.linha-form{
	    margin-top: 30px;	
}

.form-control{
	border-radius: 3px 3px 3px 3px !important;
}
.input-vencimento input{
	text-align: center;
}
.inscricaopagador{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

.ceppagador{
	width: 115%
}
